
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header
{
    position: sticky;
    top: 0;
    display: flex; 
    align-items: center; 
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 10px;
    background-color: white;
}

#titulo {
    font-size: 2.5rem; /* Define a consistent font size globally */
    font-weight: bold; /* Ensure bold text */
    text-align: center; /* Center-align the title */
    margin: 20px 0; /* Add spacing above and below */
    font-family: 'Montserrat', sans-serif; /* Ensure consistent font family */
}

nav
{
    margin-left:auto;
}

ul
{
    list-style: none; 
    display: flex; 
}

a
{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    margin-left:10px;
}

a:hover {
    text-decoration: underline;
}


/* Formatação secção das categorias */
figure {
    width: 32%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

figure img {
    background-color: lightblue;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}



figcaption {
    width: 32%;
    float: left;
    margin-top: 1%;
    margin-left: 33.33%;
}

.image-container figure {
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: calc(33.33%); 
    scroll-snap-align: center; 
    margin: 0; 
}

figure img {
    width: 100%; 
    height: auto; 
}

section {
    clear: left;
}

section h2 {
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.about-me {

    margin: 20px;
    text-align: center;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    font-size: 1rem;
}

/*Digital Paintings Page */

#header-black {
    background-color: black;
}

body.digital-paintings #titulo {
    color: white;
}

body.digital-paintings #titulo a {
    color: white; 
    text-decoration: none; 
}

body.digital-paintings #titulo a:hover {
    text-decoration: underline; 
}

#nav-white {
    color: white; /
}

#nav-white a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    margin-left:10px;
}

#nav-white a:hover {
    text-decoration: underline; 
}

.image-container {
    display: flex; 
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px; 
}

.image-container figure {
    background-color: black;
    width: 100%;
    height: auto; 
}

.digital-paintings {
    background-color: black; 
    color: white; 
}

.digital-paintings-footer {
    background-color: black; 
    color: white; 
}